@import "tailwindcss";

:root {
  --background: #00008B; /* Deep Blue */
  --foreground: #FFFFFF; /* White */
  --accent-gold: #FFD700; /* Gold */
  --accent-white: #FFFFFF; /* White */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-gold: var(--accent-gold);
  --color-accent-white: var(--accent-white);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
